<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pacheco.rro.car.carlauncher">

    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.car.carlauncher" 
	         android:targetName="CarLauncher"
			 android:resourcesMap="@xml/overlays"
			 android:priority="7001"			 
			 />

</manifest>